body { 	
	background: url("images/new_3_2x2.png");
	background-repeat: repeat;
	background-attachment: fixed; 
}

p, td, a, center, div {
	font-family: verdana, arial, tahoma, Trebuchet MS; 
	font-size: 11px; 
	line-height: 23px;
}

b {
	font-family: verdana, arial, tahoma, Trebuchet MS; 
	font-size: 11px;
}

a {
	color: #C00000; 
	text-decoration: none; 
	font-weight:none; 
	font-family: Trebuchet MS, verdana, arial, tahoma; 
	font-size: 11px;
}

a:hover {
	color: #fad4aa; 
	cursor:crosshair; 
	border-bottom: 1 dashed #000000;
}