@import 'transform';
@import 'gradient';

@host {
  * {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
}

.wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;

  &.scene--summer {
    @include gradient(rgb(213,246,233), rgb(255,253,136));
    > .left {
      visibility: hidden;
    }
  }

  &.scene--autumn {
    @include gradient(#FFF, #FF0);
  }

  &.scene--autumn {
    @include gradient(#FFF, #0FF);
  }

  &.scene--winter {
    @include gradient(#FFF, #F0F);
  }

  &.scene--spring {
    > .right {
      visibility: hidden;
    }
  }

  > .btn {
    $btn-radius: 75px;

    display: inline-block;
    position: absolute;
    top: 40%;
    margin: 0 $btn-radius/2;
    z-index: 2;

    width: $btn-radius;
    line-height: $btn-radius;

    border-radius: $btn-radius/2;
    
    font-size: $btn-radius/2;
    font-weight: bold;
    text-align: center;

    color: white;
    background-color: black;
    opacity: .05;

    cursor: pointer;

    &:hover {
      opacity: .15;
    }

    &.right {
      right: 0;
    }
  }

  #world {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 1;

    > .layer {
      position: relative;
      width: 400% !important;
      height: 100%;

      .scene {
        display: inline-block;
        width: 24.9%;
        height: 100%;
        position: relative;

        > .el {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: auto;

          // TODO: replace with full mountain image
          &.bg-mountains {
            bottom: 20px;
          }

          &.tree {
            bottom: -10px;
          }
        }
      }

      // This "magnifies" foreground layers so that you can't see beyound the
      // bounds of that layer.  10% is based on the amount of parallax effect
      // set in v-app data-scalar-x on the world.
      > .correctiveLayer {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -10%;
        right: -10%;
        overflow: none;
      }
    }
  }
}
