<html>
<head>
<title>recollection &#160; &#160; &#160;
</title>
<link rel="stylesheet" href="style.css" type="text/css">
<link rel="stylesheet" href="css/lightbox.css" type="text/css" media="screen" />
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects"></script>
<script type="text/javascript" src="js/lightbox.js"></script>
</head>

<body bgcolor=#230000>
<div id="base"><div>
<center>
<table>
<tr><td height="240"></td></tr>
<tr>
<td width=100%>
<div align="right"><u>Welcome &#160; &#160; &#160; &#160; </u></div><br>
<div align="left">
&#160; &#160; &#160; &#160; Since AinoyumeNET is my baby, I take great care in making layouts for it. I take more time, go through more trial versions and change a  lot more than my usual layouts. The result is basically a favorite layout of mine for every version. Thus, I want to group them together in one place, and this is the place. 

<br><br>

&#160; &#160; &#160; &#160; These pages showcase only AinoyumeNET (the domain)'s past layouts, so if you're interested in seeing how AinoyumeNET has progressed, here's the place. <b>Navigation is to your right</b>, steal and die.  If you are looking for aiNET's featured subsite layouts, please visit <a href="http://archive.ainoyume.net" target="_blank">Recollection</a>. Enjoy the site.
<div align="right">
-Trinity&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
</div><br>

<center>
<a href="http://ainoyume.net" target="_blank">AinoyumeNET</a> and all content &copy; <a href="http://ainoyume.net/contact" target="_blank">Trinity</a>. Ouran Koukou Host Club &copy; Bisco Hatori.<br>
Replication expressly prohibited. </center>
</td>
</tr>
</table>
</center>

</body>
</html>