<html>
<head>
<title>recollection &#160; &#160; &#160;
</title>
<link rel="stylesheet" href="style.css" type="text/css">
</head>

<body>
<table>
<tr><td height="30"></td></tr>
<tr>
<td>
<a href="v01.html" target="main"><img src="images/miniv01.jpg" class="ss"></a><br>
<a href="v02.html" target="main"><img src="images/miniv02.jpg" class="ss"></a><br>
<a href="v03.html" target="main"><img src="images/miniv03.jpg" class="ss"></a><br>
<a href="v04.html" target="main"><img src="images/miniv04.jpg" class="ss"></a><br>
<a href="v05.html" target="main"><img src="images/miniv05.jpg" class="ss"></a><br>
<a href="v06.html" target="main"><img src="images/miniv06.jpg" class="ss"></a><br>
<a href="v07.html" target="main"><img src="images/miniv07.jpg" class="ss"></a><br>
<a href="v08.html" target="main"><img src="images/miniv08.jpg" class="ss"></a><br>
<a href="v09.html" target="main"><img src="images/miniv09.jpg" class="ss"></a><br>
<a href="v10.html" target="main"><img src="images/miniv10.jpg" class="ss"></a><br>
<img src="images/miniv11.jpg" class="ss"></a><br>
</td>
</tr>
</table>
</body>
</html>