<html>
<head>
<title>recollection &#160; &#160; &#160;
</title>
<link rel="stylesheet" href="style.css" type="text/css">
<link rel="stylesheet" href="css/lightbox.css" type="text/css" media="screen" />
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects"></script>
<script type="text/javascript" src="js/lightbox.js"></script>
</head>

<body bgcolor=#230000>
<div id="base"><div>
<center>
<table>
<tr><td height="240"></td></tr>
<tr>
<td width=100%>
<div align="right"><u>version 01 &#160; &#160; </u></div><br>
<a href="images/v01.jpg" rel="lightbox"><img src="images/v01.jpg" class="ss" align=right></a>

<b>AinoyumeNET vONE:</b><br>
<b>Features:</b> Tenjou Utena and Himemiya Anthy<br>
<b>From Series:</b> Shoujo Kakumei Utena<br>
<b>Tools:</b>  Paint Shop Pro 7.02, Notepad, WS FTP LE<br>
<b>Song:</b> Truth (Utena ED)<br><b>Image Credit:</b> <a href="http://ohtori.nu" target="_blank">Empty Movement</a>;<br>
<b>Theme:</b> TRUTH [a new BEGINNING]<br>
<b>Comments:</b> 

Honestly, at the time of this layout I was eager to throw a decent version up and launch my domain. Therefore I can't completely call this a favorite, but it's there. The layout featured two of my favorite screenshots of Anthy and Utena during the ending theme of SKU, "Truth." It turned out ok, with a blur pf colors and a crystalized look to it. I really didn't want to part with my Slayers layout at my previous collective though. 

</td>
</tr>
</table>
</center>

</body>
</html>