<html>
<head>
<title>recollection &#160; &#160; &#160;
</title>
<link rel="stylesheet" href="style.css" type="text/css">
<link rel="stylesheet" href="css/lightbox.css" type="text/css" media="screen" />
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects"></script>
<script type="text/javascript" src="js/lightbox.js"></script>
</head>

<body bgcolor=#230000>
<div id="base"><div>
<center>
<table>
<tr><td height="240"></td></tr>
<tr>
<td width=100%>
<div align="right"><u>version 02 &#160; &#160; </u></div><br>
<a href="images/v02full.jpg" rel="lightbox"><img src="images/v02.jpg" class="ss" align=right></a>

<b>AinoyumeNET vTWO:</b><br><b>Features:</b> Tsukiyono Omi<br><b>From Series:</b> Weiss Kreuz<br><b>Tools:</b>  Paint Shop Pro 7.02, Notepad, WS FTP LE<br><b>Song:</b> Weiss Kreuz OAV opening<br><b>Image Credit:</b> <a href="http://dreamdust.nu/weiss/" target="_blank">Divided</a>;<br><b>Theme:</b> announcing{{WEÏß KREUŽ}}trilogy<br><b>Comments:</b> This layout was the first of three consecutive series of layouts in which the Weiss Kreuz boys had been featured. Version 02 signifed the start of the Weiss Kreuz Trilogy, hence the theme. :3 This one was colorful and wasn't <i>completely</i> terrible. Although I wasn't too fond of either the font or the navigation, Omi was of course, a plus for the layout.

</td>
</tr>
</table>
</center>

</body>
</html>