<html>
<head>
<title>recollection &#160; &#160; &#160;
</title>
<link rel="stylesheet" href="style.css" type="text/css">
<link rel="stylesheet" href="css/lightbox.css" type="text/css" media="screen" />
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects"></script>
<script type="text/javascript" src="js/lightbox.js"></script>
</head>

<body bgcolor=#230000>
<div id="base"><div>
<center>
<table>
<tr><td height="240"></td></tr>
<tr>
<td width=100%>
<div align="right"><u>version 03 &#160; &#160; </u></div><br>
<a href="images/v03lite.jpg" rel="lightbox[v03]"><img src="images/v03l.jpg" class="ss" align=right></a> 
<a href="images/v03full.jpg" rel="lightbox[v03]"><img src="images/v03f.jpg" class="ss" align=right></a> 
<a href="images/v03splash.jpg" rel="lightbox[v03]"><img src="images/v03s.jpg" class="ss" align=right></a>
<b>AinoyumeNET vTHREE:</b><br>
<b>Features:</b> Kudou Yohji<br>
<b>From Series:</b> Weiss Kreuz<br><b>Tools:</b>  Paint Shop Pro 7.02, Notepad, WS FTP LE<br>
<b>Fonts:</b> Cretino, Kunstler Script, Silkscreen, Verdana<br><b>Song:</b> Weiss Kreuz ending<br><b>Image Credit:</b> <a href="http://dreamdust.nu/weiss/" target="_blank">Divided</a>;<br><b>Theme:</b> [WISHFUL THINKING] ---- what[is]DESIRE<br><b>Comments:</b> Yohji is my absolute favorite Weiss Kreuz boy by far. I <i>loved</i> the graphics high version of this layout. Although I spent quite a wiile coming up with it, it felt great after I was done. There was a nice mouseover effect for this one, as well as varying sublayouts. This one went up around Thanksgiving, and the colors remind me of turkeys. xD Again, the decorative fonts were a bit too much. Otherwise, I had no complaints. 

</td>
</tr>
</table>
</center>

</body>
</html>