<html>
<head>
<title>recollection &#160; &#160; &#160;
</title>
<link rel="stylesheet" href="style.css" type="text/css">
<link rel="stylesheet" href="css/lightbox.css" type="text/css" media="screen" />
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects"></script>
<script type="text/javascript" src="js/lightbox.js"></script>
</head>

<body bgcolor=#230000>
<div id="base"><div>
<center>
<table>
<tr><td height="240"></td></tr>
<tr>
<td width=100%>
<div align="right"><u>version 04 &#160; &#160; </u></div><br>
<a href="images/v04lite.jpg" rel="lightbox[v03]"><img src="images/v04l.jpg" class="ss" align=right></a> 
<a href="images/v04sub.jpg" rel="lightbox[v03]"><img src="images/v04su.jpg" class="ss" align=right></a>
<a href="images/v04full.jpg" rel="lightbox[v03]"><img src="images/v04f.jpg" class="ss" align=right></a> 
<a href="images/v04splash.jpg" rel="lightbox[v03]"><img src="images/v04s.jpg" class="ss" align=right></a>

<b>AinoyumeNET vFOUR:</b><br>
<b>Features:</b> Fujimiya Aya and Hidaka Ken<br>
<b>From Series:</b> Weiss Kreuz<br>
<b>Tools:</b>  Paint Shop Pro 7.02, Notepad, WS FTP LE<br>
<b>Fonts:</b> Brush Script MT, Carpenter ICG, Silkscreen, Verdana<br>
<b>Song:</b> At the Beginning, Richard Marx and Donna Lewis (lyrics featured on front & sub pages)<br>
<b>Image Credit:</b> <a href="http://dreamdust.nu/weiss/" target="_blank">Divided</a>;<br>
<b>Theme:</b> the new awakening //*best wishes for the new year<br><b>Comments:</b> Now there were four Weiss Kreuz boys, but I was only doing a trilogy. Regardless, I wasn't about to leave any out. This layout had a very warm and fuzzy feeling to it, featuring Aya on the main page and Ken on the subpages.The image of Aya equates to sex; he's almost all uncovered laying on a bed. >D The image of Ken is one of my favorites as well. Uniformed men are sex. Another one of my favorite layouts.

</td>
</tr>
</table>
</center>

</body>
</html>