<html>
<head>
<title>recollection &#160; &#160; &#160;
</title>
<link rel="stylesheet" href="style.css" type="text/css">
<link rel="stylesheet" href="css/lightbox.css" type="text/css" media="screen" />
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects"></script>
<script type="text/javascript" src="js/lightbox.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43911105-1', 'ainoyume.net');
  ga('send', 'pageview');

</script></head>

<body bgcolor=#230000>
<div id="base"><div>
<center>
<table>
<tr><td height="240"></td></tr>
<tr>
<td width=100%>
<div align="right"><u>version 06 &#160; &#160; </u></div><br>
<a href="images/v06lite.jpg" rel="lightbox[v06]"><img src="images/v06l.jpg" class="ss" align=right></a> 
<a href="images/v06full.jpg" rel="lightbox[v06]"><img src="images/v06f.jpg" class="ss" align=right></a> 
<a href="images/v06splash.jpg" rel="lightbox[v06]"><img src="images/v06s.jpg" class="ss" align=right></a>

<b>AinoyumeNET vSIX:</b><br>
<b>Features:</b> Mirelle and Chloe<br>
<b>From Series:</b> Noir<br>
<b>Tools:</b>  Paint Shop Pro 7.02, Notepad, WS FTP LE<br>
<b>Fonts:</b> Sloop ScriptTwo, Maiandra GD, Silkscreen, Verdana<br><b>Song:</b> Stars by T.A.T.U.<br>
<b>Image Credit:</b> <a href="http://fayevalentine.net/noir" target="_blank">Noir Gallery</a>;<br>
<b>Theme:</b> How did we ever go this far...<br>
<b>Comments:</b> Noir is just amazing to work with. The images are gorgeous and very fun to play with. The plot concept is beautiful and characters have a lot of depth and emotional conflict. It's next to impossible to make a bad Noir layout. I love Noir, and I love Mirelle, Kirika and Chloe. I had a lot of matching layouts in this version (i.e. the Updates Archive and the Editorials), it was like a Noir marathon. XD I <i>adored</i> every bit and every version of this layout. I remember receiving quite a bit of compliments on creativity in my guestbook as well.

</td>
</tr>
</table>
</center>

</body>
</html>