<html>
<head>
<title>recollection &#160; &#160; &#160;
</title>
<link rel="stylesheet" href="style.css" type="text/css">
<link rel="stylesheet" href="css/lightbox.css" type="text/css" media="screen" />
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects"></script>
<script type="text/javascript" src="js/lightbox.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43911105-1', 'ainoyume.net');
  ga('send', 'pageview');

</script></head>

<body bgcolor=#230000>
<div id="base"><div>
<center>
<table>
<tr><td height="240"></td></tr>
<tr>
<td width=100%>
<div align="right"><u>version 07 &#160; &#160; </u></div><br>
<a href="images/v07lite.jpg" rel="lightbox[v07]"><img src="images/v07l.jpg" class="ss" align=right></a> 
<a href="images/v07full.jpg" rel="lightbox[v07]"><img src="images/v07f.jpg" class="ss" align=right></a> 
<a href="images/v07splash.jpg" rel="lightbox[v07]"><img src="images/v07s.jpg" class="ss" align=right></a>

<b>AinoyumeNET vSEVEN:</b><br>
<b>Features:</b> Maria<br>
<b>From Series:</b> EsperS (E's Otherwise)<br>
<b>Tools:</b>  Paint Shop Pro 7.02, Notepad, WS FTP LE<br>
<b>Fonts:</b> Texas Hero, SF Speedwaystar, Silkscreen, Verdana<br>
<b>Song:</b> Easy Dawn (.hack//SIGN)<br>
<b>Image Credit:</b> <a href="http://hanayume.net/EsperS/" target="_blank">EsperS</a>;<br>
<b>Theme:</b> I wish to see the sunrise...just once more <br>
<b>Comments:</b> I wasn't aiming for a black background because I was sort of sick of black at the time. However, that's what I came up with, and it was hard to adjust the background without changing the layout around. Initially, it was extremely purple, and I had to alter the layout to make it multi-colorful (not a monochromatic fan). The colors reminded me of the sunrise, and I really liked the way both versions turned out. Maria is an awesome character to work with. She's usually got the prettiest poses, and I was aiming for a sultry look in this version.

</td>
</tr>
</table>
</center>

</body>
</html>