<html>
<head>
<title>recollection &#160; &#160; &#160;
</title>
<link rel="stylesheet" href="style.css" type="text/css">
<link rel="stylesheet" href="css/lightbox.css" type="text/css" media="screen" />
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects"></script>
<script type="text/javascript" src="js/lightbox.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43911105-1', 'ainoyume.net');
  ga('send', 'pageview');

</script></head>

<body bgcolor=#230000>
<div id="base"><div>
<center>
<table>
<tr><td height="240"></td></tr>
<tr>
<td width=100%>
<div align="right"><u>version 09 &#160; &#160; </u></div><br>
<a href="images/v09lite.jpg" rel="lightbox[v09]"><img src="images/v09l.jpg" class="ss" align=right></a> 
<a href="images/v09full.jpg" rel="lightbox[v09]"><img src="images/v09f.jpg" class="ss" align=right></a> 
<a href="images/v09splash.jpg" rel="lightbox[v09]"><img src="images/v09s.jpg" class="ss" align=right></a>

<b>AinoyumeNET vNINE:</b><br>
<b>Features:</b> Selected scenery<br>
<b>From Series:</b> Rurouni Kenshin<br>
<b>Tools:</b>  Paint Shop Pro 7.02, Notepad, WS FTP LE<br><b>Fonts:</b> AdineKirnberg, Algerian, Verdana<br>
<b>Song:</b> none<br>
<b>Image Credit:</b> none; I screencapped the images<br>
<b>Theme:</b> "when the blossoms fall"<br>
<b>Comments:</b> This layout was done quicker than any of the other aiNET layouts, and probably more sloppily as well. I didn't have much inspiration at the time nor the faintest idea which character I should feature. Therefore, I featured some gorgeous scenery from the Rurouni Kenshin series. The prominent flowers in the front are actually from Record of Lodoss War. There are quite a few subtle images in this layout that hints a Kenshin theme. Examples include the semi-transparent image of Tomoe and Kenshin on top, Kenshin on the bottom left, and a barely visible Kenshin behind the trees in the mid-right. 

</td>
</tr>
</table>
</center>

</body>
</html>