<html>
<head>
<title>recollection &#160; &#160; &#160;
</title>
<link rel="stylesheet" href="style.css" type="text/css">
<link rel="stylesheet" href="css/lightbox.css" type="text/css" media="screen" />
<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects"></script>
<script type="text/javascript" src="js/lightbox.js"></script>
</head>

<body bgcolor=#230000>
<div id="base"><div>
<center>
<table>
<tr><td height="240"></td></tr>
<tr>
<td width=100%>
<div align="right"><u>version 10 &#160; &#160; </u></div><br>
<a href="images/v10lite.jpg" rel="lightbox[v10]"><img src="images/v10l.jpg" class="ss" align=right></a> 
<a href="images/v10full.jpg" rel="lightbox[v10]"><img src="images/v10f.jpg" class="ss" align=right></a> 
<a href="images/v10splash.jpg" rel="lightbox[v10]"><img src="images/v10s.jpg" class="ss" align=right></a>

<b>Features:</b> Souma Momiji<br>
<b>From:</b> Fruits Basket<br>
<b>Tools:</b>  Paint Shop Pro 7.02, Notepad, WS FTP LE, HTML, CSS<br>
<b>Fonts:</b> AdineKirnberg, Algerian, Verdana<br>
<b>Song:</b> none<br> 
<b>Image Credit:</b> <a href="http://www.projectzen.com/" target="_blank">ProjectZen</a><br>
<b>Theme:</b> "View the world in tangerine"

<br><b>Comments:</b> This version was actually made a year in advance, and initally tossed aside out of dissatisfaction. It was then dug up and used while I was shifting through my files the following summer. I'm normally not very fond of monochromatic designs, but this one turned out alright. The image came from ProjectZen in high quality, so little actual image editing was required. This creamy tangerine/ mango-orange look sort of gives off the feeling of a blazing summer day, welcoming the summer. 

</td>
</tr>
</table>
</center>

</body>
</html>